@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf") format("ttf"), url("/fonts/OpenSans-Bold.ttf") format("ttf");
}
html {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

header {
  font-size: 12px;
  text-align: center;
}
header .btn-primary:not(:disabled):not(.disabled).active, header .btn-primary:not(:disabled):not(.disabled):active, header .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
header .navbar-light .navbar-toggler {
  border-color: #337ab7;
  background-color: #337ab7;
}
header .navbar-light .navbar-toggler-icon {
  background-image: url("../images/icons/bur_ico.png");
}
header .form-inline {
  justify-content: center;
}
header .nav-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px black;
  z-index: 10;
}
header .navbar {
  background-color: #ffffff;
  width: 1220px;
  padding-left: 15px;
  padding-right: 15px;
}
header .navbar img {
  width: 80px;
  height: 80px;
}
header .navbar .btn-lg {
  border-radius: 24px;
}
header .navbar .btn {
  font-size: 12px;
}
header .navbar .nav-link {
  padding: 10px 22px;
}

*, ::after, ::before {
  box-sizing: content-box;
}

.reg-wrapper, .dev-block-wrapper, .stat-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reg-wrapper {
  background-color: #f7f7f7;
}
.reg-wrapper .reg-block {
  display: flex;
  flex-direction: row;
  width: 1220px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.reg-wrapper .reg-block .reg-info {
  width: 538px;
  text-align: center;
  padding-top: 210px;
}
.reg-wrapper .reg-block .reg-info .reg-title {
  font-size: 29px;
  font-weight: 700;
}
.reg-wrapper .reg-block .reg-info .reg-text {
  line-height: 31px;
  letter-spacing: -1px;
}
.reg-wrapper .reg-block .reg-form {
  padding-top: 57px;
  width: 590px;
  display: flex;
  flex-direction: column;
}
.reg-wrapper .reg-block .reg-form .inp-name {
  padding: 10px 0;
}
.reg-wrapper .reg-block .reg-form .inp-name:after {
  content: "*";
  color: red;
}
.reg-wrapper .reg-block .reg-form .inp {
  padding-left: 10px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.reg-wrapper .reg-block .reg-form .check-inp {
  margin-right: 10px;
}
.reg-wrapper .reg-block .reg-form .form-title {
  font-size: 20px;
  font-weight: 700;
}
.reg-wrapper .reg-block .reg-form .button-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.reg-wrapper .reg-block .reg-form .button-wrapper .reg-button:hover {
  cursor: pointer;
}
.reg-wrapper .reg-block .reg-form .button-wrapper .reg-button {
  width: 368px;
  height: 51px;
  background-color: #337ab7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 24px;
  color: #ffffff;
}

.dev-block-wrapper {
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.dev-block-wrapper span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}
.dev-block-wrapper .dev-block {
  width: 1220px;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
}
.dev-block-wrapper .dev-block .slick-list {
  overflow: hidden;
}
.dev-block-wrapper .dev-block .dev-elem {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 325px;
  min-width: 0;
}
.dev-block-wrapper .dev-block .dev-elem img {
  width: 65px;
  height: 71px;
  min-width: 0;
}
.dev-block-wrapper .dev-block .dev-elem span {
  border-bottom: 1px solid #337ab7;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 20px;
  min-width: 0;
}
.dev-block-wrapper .dev-block .dev-elem span:last-child {
  padding-top: 40px;
  border-bottom: 0;
  font-size: 16px;
  min-width: 0;
  width: 300px;
}

.stat-wrapper {
  background-color: #3498db;
}
.stat-wrapper .stat-block {
  width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.stat-wrapper .stat-block .stat-elem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 45px;
  padding: 80px 0;
  color: #ffffff;
}
.stat-wrapper .stat-block .stat-elem img {
  padding-bottom: 25px;
  width: 72px;
  height: 50px;
}
.stat-wrapper .stat-block .stat-elem span {
  font-size: 25px;
}
.stat-wrapper .stat-block .stat-elem span:last-child {
  font-size: 15px;
}

.dev-block .slick-track {
  display: flex;
}

.dev-block .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-block .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.dev-block .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}

.dev-block .slick-dots .slick-active button {
  background-color: #666666;
}

.stat-folder {
  display: flex;
  justify-content: center;
}

.reply-wrapper {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.reply-wrapper span {
  font-size: 30px;
}
.reply-wrapper .reply-slider {
  min-width: 0;
}
.reply-wrapper .reply-slider span {
  font-size: 15px;
  width: 1220px;
  display: block;
}
.reply-wrapper .reply-slider .slick-track {
  display: flex;
}
.reply-wrapper .reply-slider .reply-item {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reply-wrapper .reply-slider .reply-item .reply-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-device-width: 1185px) {
  .reg-wrapper .reg-block {
    display: flex;
    flex-direction: column;
  }
  .reg-wrapper .reg-block .reg-info, .reg-wrapper .reg-block .reg-form {
    padding-top: 30px;
  }

  .dev-block-wrapper .dev-block {
    width: 750px;
    display: flex;
    flex-direction: column;
  }

  .stat-block .stat-folder .stat-elem {
    width: 325px;
    height: 107px;
    margin: 0 10px;
  }
}
@media screen and (max-device-width: 750px) {
  .reg-wrapper .reg-block .reg-info, .reg-wrapper .reg-block .reg-form {
    width: 300px;
    box-sizing: content-box;
  }

  .dev-block-wrapper .dev-block {
    display: flex;
    flex-direction: column;
  }

  .stat-block .stat-folder .stat-elem {
    width: 145px;
    height: 107px;
    text-align: center;
    margin: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */
