@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf") format("ttf"), url("/fonts/OpenSans-Bold.ttf") format("ttf");
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

header {
  font-size: 12px;
  text-align: center;
}
header .btn-primary:not(:disabled):not(.disabled).active, header .btn-primary:not(:disabled):not(.disabled):active, header .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
header .navbar-light .navbar-toggler {
  border-color: #337ab7;
  background-color: #337ab7;
}
header .nav-link:focus, header .navbar-light .navbar-nav .nav-link:hover {
  background-color: #eeeeee;
  color: #337ab7;
}
header .navbar-light .navbar-toggler-icon {
  background-image: url("../images/icons/bur_ico.png");
}
header .form-inline {
  justify-content: center;
}
header .nav-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px black;
  z-index: 10;
}
header .navbar {
  background-color: #ffffff;
  width: 1220px;
  padding-left: 15px;
  padding-right: 15px;
}
header .navbar img {
  width: 80px;
  height: 80px;
}
header .navbar .btn-lg {
  border-radius: 24px;
}
header .navbar .btn {
  font-size: 12px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 22px;
  padding-left: 22px;
}

*, ::after, ::before {
  box-sizing: content-box;
}

.reg-wrapper, .dev-block-wrapper, .stat-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reg-wrapper {
  margin-top: 100px;
  background-color: #f7f7f7;
}
.reg-wrapper .reg-block {
  display: flex;
  flex-direction: row;
  width: 1220px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.reg-wrapper .reg-block .reg-info {
  width: 538px;
  text-align: center;
  padding-top: 210px;
}
.reg-wrapper .reg-block .reg-info .reg-title {
  font-size: 29px;
  font-weight: 700;
}
.reg-wrapper .reg-block .reg-info .reg-text {
  line-height: 31px;
  letter-spacing: -1px;
}
.reg-wrapper .reg-block .reg-form {
  padding-top: 57px;
  width: 590px;
  display: flex;
  flex-direction: column;
}
.reg-wrapper .reg-block .reg-form .inp-name {
  padding: 10px 0;
}
.reg-wrapper .reg-block .reg-form .inp-name:after {
  content: "*";
  color: red;
}
.reg-wrapper .reg-block .reg-form .inp {
  padding-left: 10px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.reg-wrapper .reg-block .reg-form .check-inp {
  margin-right: 10px;
}
.reg-wrapper .reg-block .reg-form .form-title {
  font-size: 20px;
  font-weight: 700;
}
.reg-wrapper .reg-block .reg-form .button-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.reg-wrapper .reg-block .reg-form .button-wrapper .reg-button:hover {
  cursor: pointer;
}
.reg-wrapper .reg-block .reg-form .button-wrapper .reg-button {
  width: 368px;
  height: 51px;
  background-color: #337ab7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 24px;
  color: #ffffff;
}
.reg-wrapper .reg-block .reg-form .inp:focus {
  box-shadow: 0px 0px 10px #337ab7;
}

.dev-block-wrapper {
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.dev-block-wrapper span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}
.dev-block-wrapper .dev-block {
  width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
}
.dev-block-wrapper .dev-block .slick-list {
  overflow: hidden;
}
.dev-block-wrapper .dev-block .dev-elem {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  min-width: 0;
}
.dev-block-wrapper .dev-block .dev-elem img {
  width: 65px;
  height: 71px;
  min-width: 0;
}
.dev-block-wrapper .dev-block .dev-elem span {
  border-bottom: 1px solid #337ab7;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 20px;
  min-width: 0;
}
.dev-block-wrapper .dev-block .dev-elem span:last-child {
  padding-top: 40px;
  border-bottom: 0;
  font-size: 16px;
  min-width: 0;
  width: 300px;
}

.stat-wrapper {
  background-color: #3498db;
}
.stat-wrapper .stat-block {
  width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.stat-wrapper .stat-block .stat-elem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 45px;
  padding: 80px 0;
  color: #ffffff;
}
.stat-wrapper .stat-block .stat-elem img {
  padding-bottom: 25px;
  width: 72px;
  height: 50px;
}
.stat-wrapper .stat-block .stat-elem span {
  font-size: 25px;
}
.stat-wrapper .stat-block .stat-elem span:last-child {
  font-size: 15px;
}

.dev-block .slick-track {
  display: flex;
}

.dev-block .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 37px;
}

.dev-block .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.dev-block .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}

.dev-block .slick-dots .slick-active button {
  background-color: #666666;
}

.stat-folder {
  display: flex;
  justify-content: center;
}

.reply-wrapper {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 60px;
}
.reply-wrapper span {
  font-size: 30px;
  letter-spacing: -1px;
}
.reply-wrapper .reply-slider {
  min-width: 0;
}
.reply-wrapper .reply-slider span {
  font-size: 15px;
  width: 900px;
  display: block;
  letter-spacing: -1px;
}
.reply-wrapper .reply-slider span:last-child {
  color: #787878;
  font-style: italic;
}
.reply-wrapper .reply-slider .slick-dots {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 37px;
}
.reply-wrapper .reply-slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.reply-wrapper .reply-slider .slick-dots .slick-active button {
  background-color: #666666;
}
.reply-wrapper .reply-slider .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}
.reply-wrapper .reply-slider .slick-track {
  display: flex;
}
.reply-wrapper .reply-slider .reply-item {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reply-wrapper .reply-slider .reply-item .reply-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reply-wrapper .reply-slider .reply-item .reply-info i:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  font-size: 20px;
  color: #c4c4c4;
}
.reply-wrapper .reply-slider .reply-item .reply-info i:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  font-size: 20px;
  color: #c4c4c4;
}
.reply-wrapper .reply-slider .reply-item .reply-info span {
  display: flex;
  align-items: center;
  color: #787878;
  letter-spacing: 0;
}

.vid-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
.vid-wrapper span:first-child {
  font-size: 30px;
  font-weight: 700;
  padding-top: 50px;
  color: #333333;
}
.vid-wrapper span {
  color: #787878;
  text-align: center;
  width: 1000px;
  padding-bottom: 20px;
}
.vid-wrapper iframe {
  width: 1020px;
  height: 510px;
  padding-bottom: 50px;
}

.ment-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  padding-bottom: 50px;
}
.ment-wrapper span {
  font-size: 40px;
  padding: 20px 0;
}
.ment-wrapper .ment-slider {
  min-width: 0;
  display: flex;
  flex-direction: column;
}
.ment-wrapper .ment-slider .slick-track {
  display: flex;
}
.ment-wrapper .ment-slider .slick-list {
  width: 1200px;
  overflow: hidden;
}
.ment-wrapper .ment-slider .ment-item {
  display: flex;
  flex-direction: row;
  min-width: 0;
  justify-content: space-between;
}
.ment-wrapper .ment-slider .ment-item img {
  width: 340px;
  height: 325px;
}
.ment-wrapper .ment-slider .ment-item .ment-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.ment-wrapper .ment-slider .ment-item .ment-info span:last-child {
  width: 687px;
  border-top: 1px solid #f7f7f7;
  font-size: 15px;
  font-weight: 500;
  color: #bdbdbd;
}
.ment-wrapper .ment-slider .ment-item .ment-info span {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #3498db;
}
.ment-wrapper .ment-slider .slick-dots {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 37px;
}
.ment-wrapper .ment-slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.ment-wrapper .ment-slider .slick-dots .slick-active button {
  background-color: #666666;
}
.ment-wrapper .ment-slider .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer .contact {
  background-color: #3498db;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .contact .wrap-row {
  display: flex;
  flex-direction: row;
}
.footer .contact .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 60px;
  color: #ffffff;
  width: 170px;
}
.footer .contact .contact-item i {
  font-size: 40px;
  padding-bottom: 10px;
}
.footer .contact .contact-item span {
  font-size: 15px;
  font-weight: 700;
}
.footer .contact .contact-item span a {
  text-decoration: none;
  color: #ffffff;
}
.footer .contact .contact-item span:last-child {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer .footer-content {
  text-align: center;
  padding: 30px 0;
  background-color: #f7f7f7;
}
.footer .footer-content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.footer .footer-content a span:first-child {
  color: #3498db;
  padding-bottom: 10px;
}
.footer .footer-content a span {
  font-size: 10px;
  color: #93938e;
}

@media screen and (max-device-width: 1300px) {
  .reply-wrapper .reply-slider .reply-item span {
    width: 600px;
  }
  .reply-wrapper .reply-slider .reply-item .reply-info span:last-child {
    font-size: 40px;
  }
  .reply-wrapper .reply-slider .reply-item .reply-info span:first-child {
    font-size: 40px;
  }

  .ment-wrapper .ment-slider .ment-item {
    justify-content: center;
  }
  .ment-wrapper .ment-slider .ment-item img {
    width: 315px;
    height: 300px;
  }
  .ment-wrapper .ment-slider .ment-item .ment-info span:last-child {
    width: 400px;
    font-size: 15px;
  }
  .ment-wrapper .ment-slider .ment-item .ment-info span {
    margin-left: 30px;
  }
}
@media screen and (max-device-width: 1185px) {
  .reg-wrapper .reg-block {
    display: flex;
    flex-direction: column;
  }
  .reg-wrapper .reg-block .reg-info, .reg-wrapper .reg-block .reg-form {
    padding-top: 30px;
  }

  .dev-block-wrapper .dev-block {
    width: 750px;
    display: flex;
    flex-direction: column;
  }

  .stat-block .stat-folder .stat-elem {
    width: 325px;
    height: 107px;
    margin: 0 10px;
  }

  .vid-wrapper span {
    text-align: center;
    width: 700px;
  }
  .vid-wrapper iframe {
    width: 100%;
  }

  .stat-folder:last-child {
    padding-bottom: 50px;
  }
}
@media screen and (max-device-width: 750px) {
  .reg-wrapper .reg-block .reg-info, .reg-wrapper .reg-block .reg-form {
    width: 300px;
    box-sizing: content-box;
  }

  .dev-block-wrapper .dev-block {
    display: flex;
    flex-direction: column;
  }

  .stat-block .stat-folder .stat-elem {
    width: 145px;
    height: 107px;
    text-align: center;
    margin: 0 10px;
  }

  .reply-wrapper .reply-slider .reply-item span {
    width: 300px;
  }
  .reply-wrapper .reply-slider .reply-item .reply-info span:last-child {
    font-size: 40px;
  }
  .reply-wrapper .reply-slider .reply-item .reply-info span:first-child {
    font-size: 40px;
  }

  .vid-wrapper span {
    text-align: center;
    width: 300px;
  }

  .ment-wrapper .ment-slider .ment-item {
    flex-direction: column;
    align-items: center;
  }
  .ment-wrapper .ment-slider .ment-item .ment-info {
    align-items: center;
  }
  .ment-wrapper .ment-slider .ment-item .ment-info span {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-device-width: 500px) {
  .ment-wrapper .ment-slider .ment-item .ment-info span:last-child {
    width: 300px;
  }

  .reply-wrapper .reply-slider .reply-item span {
    width: 250px;
  }

  .footer .contact .wrap-row {
    width: 100%;
    justify-content: center;
  }

  .footer .contact .wrap-row .contact-item {
    margin: 40px 0;
  }

  .footer .contact .wrap-row .contact-item span {
    font-size: 12px;
    text-align: center;
  }

  .dev-block-wrapper .dev-block .slick-list .dev-elem span {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */
