.nav-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px black;
}
.navbar{
  background-color: #ffffff;
  width:1220px;
  padding-left: 15px;
  padding-right: 15px;
  img{
    width: 80px;
    height: 80px;
  }
  .btn-lg{
    border-radius: 24px;
  }
  .btn{
    font-size: 12px;
  }
  .nav-link{
padding: 10px 22px;

  }
}
body{
  font-size: 12px;
  text-align: center;
}
.navbar-expand-md .navbar-nav .nav-link{
  padding: 0 22px;
}
.navbar-toggler{
  background-color: #337ab7;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../images/icons/bur_ico.png");
}
.form-inline{
  justify-content: center;
}


